@font-face {
    font-family: Code-Light;
    src: url(../fonts/CODE_Light.otf);
}

@font-face {
    font-family: Code-Bold;
    src: url(../fonts/CODE_Bold.otf);
}

@font-face {
    font-family: Billabong;
    src: url(../fonts/Billabong.ttf);
}

div {
    display: block;
}

p, li {
    color: #7f9db9;
}

.back {
    position: absolute;
    left: 10%;
    background-color: #2A1337;
    opacity: 0.8;
    width: 80%;
    height: 90%;
    font-family: Code-Bold;
}

.photo-profile img {
    width: 20%;
    height: auto;
    border-radius: 3%;
    margin-top: 2%;
    margin-left: 40%;
}

.photo-profile {
    width: 50%;
    height: 30vh;
    /*background-color: #61e458;*/
    float: left;
    /*align-items: center;*/
}

.data-profile {
    width: 50%;
    height: 30vh;
    /*background-color: #CC3333;*/
    float: right;
    text-align: center;
}

.details-profile {
    padding-left: 5%;
    padding-bottom: 5%;
    /*background-color: #CC3333;*/
    width: 45%;
    height: auto;
    float: left;
}

.icon-profile {
    padding-left: 5%;
    padding-bottom: 5%;
    /*background-color: aqua;*/
    width: 45%;
    height: auto;
    float: right;
}

.icon-profile img {
    width: 20%;
    height: 20%;
    padding: 10%;
}

/*.icon-profile img:hover {*/
    /*width: 25%;*/
    /*height: 25%;*/
    /*padding: 5%;*/
/*}*/