<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matheus</title>
    <link rel="stylesheet" type="text/css" href="../../css/baselayout.css">
    <link rel="stylesheet" type="text/css" href="../../css/container.css">
    <script src="../../js/script.js"></script>
</head>
<body>
<div class="main">
    <div class="header">
        <div class="title-name">
            <span class="title-text">MATHEUS INÁCIO</span>
        </div>
        <div class="menu-container">
            <ul>
                <li>
                    <a class="linkMenu" href="javascript:reload('./pages/home.html');">Home</a>
                </li>
                <li>
                    <a class="linkMenu" href="javascript:reload('./pages/projects.html');">Projects</a>
                </li>
                <li>
                    <a class="linkMenu" href="javascript:reload('./pages/contact.html');">Contact</a>
                </li>
                <li>
                    <a class="linkMenu" href="javascript:reload('./pages/about.html');">About</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="back-container">
        <div class="page-container">
            <iframe src="./pages/contact.html" id="content-frame"></iframe>
        </div>
    </div>
</div>
</body>
</html>