<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../../css/home.css">
</head>
<body>
<!--<img src="../../imgs/home.jpg">-->
<div class="back">
    <div class="photo-profile">
        <img src="../../imgs/profile.jpg">
    </div>
    <div class="data-profile">
        <p class="data-value">Matheus Inácio</p>
        <p class="data-value">21 years</p>
        <p class="data-value">Maceio, Alagoas, Brazil</p>
        <p class="data-value">Federal University of Alagoas</p>

    </div>
    <div class="details-profile">
        <p>experiences</p>
        <li>c++</li>
        <li>qt</li>
        <li>django</li>
        <li>python</li>
        <li>java</li>
        <li>javascript</li>
        <li>php</li>
    </div>
    <div class="icon-profile">
        <a href="https://bitbucket.org/matheus013" target="_blank"><img src="../../imgs/bit.png"></a>
        <a href="https://github.com/matheus013" target="_blank"><img src="../../imgs/giticon.png"></a>
        <a href="https://www.facebook.com/matheusibs" target="_blank"><img src="../../imgs/fb-art.jpg"></a>
        <a href="https://br.linkedin.com/in/matheus-inácio-b-santos-7346a486" target="_blank"><img src="../../imgs/social-linkedin.png"></a>
    </div>
</div>
</body>
</html>