<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../../css/project.css">
</head>
<body>
<div class="project">
    <div class="title"><br>
        <p>Contribution</p><br></div>
    <div class="table">
        <div class="model-project">
            <p class="title-project">Marathon</p>
            <p>
                Marathon program training, as well as exercising algorithm design and analysis.
            </p>
            <li>
                <a class="linkMenu" href="https://github.com/matheus013/Projeto-e-Analise-de-Algoritmos"
                   target="_blank">Repository</a>
            </li>
        </div>
        <div class="model-project">
            <p class="title-project">Time Manager</p>
            <p>
                Time manager developed in Java to solve the problem of allocation of rooms partially. It was used
                genetic algorithm implementation. Project completed in version 1.0
            </p>
            <li>
                <a class="linkMenu" href="https://bitbucket.org/matheus013/gerenciador-de-horario"
                   target="_blank">Repository</a>
            </li>
        </div>
        <div class="model-project">
            <p class="title-project">Huffman</p>
            <p>
                File compressor, subject to design demanded data structure, implemented in C++. Currently completed in
                version 2.0.
            </p>
            <li>
                <a class="linkMenu" href="https://bitbucket.org/matheus013/huffman-2.0"
                   target="_blank">Repository</a>
            </li>
        </div>
        <div class="model-project">
            <p class="title-project">Nutron</p>
            <p>
                System developed seeks to assist daily user, with food control
                through a diet, and give suggestions for food appropriate to their needs, so
                suggestions for a user who wants to lose weight, are different from a user
                want to gain weight. System developed using Qt framework, C++ language.
            </p>
            <li>
                <a class="linkMenu" href="https://github.com/matheus013/Nutron"
                   target="_blank">Repository</a>
            </li>
        </div>
        <div class="model-project">
            <p class="title-project">Web Service</p>
            <p>
                system for the communication to get or post, server - client. Developed using django framework, language
                python.
            </p>
            <li>
                <a class="linkMenu" href="https://github.com/matheus013/service-web"
                   target="_blank">Repository</a>
            </li>
        </div>
        <div class="model-project">
            <p class="title-project">SQL query manager</p>
            <p>
                system developed using Qt framework, in C ++. with the purpose of managing communication, app - database in
                a simple and practical way
            </p>
            <li>
                <a class="linkMenu" href="https://github.com/matheus013/SQL-Management"
                   target="_blank">Repository</a>
            </li>
        </div>
    </div>

</div>
</body>
</html>